@page "/Addition-TablesMenu"
@attribute [AllowAnonymous]
@rendermode InteractiveServer

<h1>Addition Menu</h1>
<p>Choose your topic</p>
<p></p>
<BaseMenuComponent>
    <li class="nav_menu_item"><a href="/race/addition-1stable" class="nav_menu_link">1s Table</a></li>
    <li class="nav_menu_item"><a href="/race/addition-2stable" class="nav_menu_link">2s Table</a></li>
    <li class="nav_menu_item"><a href="/race/addition-3stable" class="nav_menu_link">3s Table</a></li>
    <li class="nav_menu_item"><a href="/race/addition-4stable" class="nav_menu_link">4s Table</a></li>
    <li class="nav_menu_item"><a href="/race/addition-5stable" class="nav_menu_link">5s Table</a></li>
    <li class="nav_menu_item"><a href="/race/addition-6stable" class="nav_menu_link">6s Table</a></li>
    <li class="nav_menu_item"><a href="/race/addition-7stable" class="nav_menu_link">7s Table</a></li>
    <li class="nav_menu_item"><a href="/race/addition-8stable" class="nav_menu_link">8s Table</a></li>
    <li class="nav_menu_item"><a href="/race/addition-9stable" class="nav_menu_link">9s Table</a></li>
    <li class="nav_menu_item"><a href="/race/addition-10stable" class="nav_menu_link">10s Table</a></li>
    <li class="nav_menu_item"><a href="/race/addition-11stable" class="nav_menu_link">11s Table</a></li>
    <li class="nav_menu_item"><a href="/race/addition-12stable" class="nav_menu_link">12s Table</a></li>
    <li class="nav_menu_item"><a href="/race/addition-13stable" class="nav_menu_link">13s Table</a></li>
</BaseMenuComponent>
