@page "/AdditionMenu"
@attribute [AllowAnonymous]
@rendermode InteractiveServer

<h1>Addition Menu</h1>
<p>Choose your topic</p>
<p></p>
<BaseMenuComponent>
    <li class="nav_menu_item"><a href="/Addition-TablesMenu" class="nav_menu_link">Addition Tables</a></li>
    <li class="nav_menu_item"><a href="/Addition-ProblemsMenu" class="nav_menu_link">Mixed Problem Sets</a></li>
</BaseMenuComponent>
