@page "/RaceSetsMenu"
@attribute [AllowAnonymous]
@rendermode InteractiveServer

<h1>Races</h1>
<p>Choose your topic</p>
<p></p>
<BaseMenuComponent>
@*     <li class="nav_menu_item"><a href="/race#Keyboardingrace" class="nav_menu_link">Keyboarding</a></li> *@
    <li class="nav_menu_item"><a href="/AdditionMenu" class="nav_menu_link">Addition</a></li>
    @* <li class="nav_menu_item_disabled"><a href="/SubtractionMenu" class="nav_menu_link">Subtraction</a></li> *@
    <li class="nav_menu_item"><a href="/MultiplicationMenu" class="nav_menu_link">Multiplication</a></li>
@*     <li class="nav_menu_item_disabled"><a href="/DivisionMenu" class="nav_menu_link">Division</a></li>
    <li class="nav_menu_item_disabled"><a href="/FractionsMenu" class="nav_menu_link">Fractions</a></li>
    <li class="nav_menu_item_disabled"><a href="/DecimalsMenu" class="nav_menu_link">Decimals</a></li> *@
</BaseMenuComponent>

