@inherits MainLayoutBase
@using DerbyDash.Components.Layout

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <main>
            @Body
        </main>
    </div>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
